<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="post" action="/signup">
        <label for="username">Username:</label>
        <input type="text" name="username" data-testid="username" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" data-testid="password" required><br>

        <input type="submit" value="Signup" data-testid = "signup-btn">
    </form>
</body>
</html>
